.header {
  width: 100%;
  height: 40vh;
  background-image: url('./assets/table-pic-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
}

.brand {
  font-size: 6vw;
  color: #f7cb46;
  font-family: 'Permanent Marker', cursive;
  line-height: 95%;
}

.slogan {
  color: white;
  font-size: 2vw;
  font-family: 'Margarine', cursive;
}

.brand-container {
  background-color: rgba(13, 13, 13, 0.4);
}